<?xml version="1.0" encoding="utf-8"?>	

<launch>

	<arg name="respawn_value" default="false" /> <!-- boolean: true, false -->
	
	<arg name="use_queue_path_planner" default="false" /> <!-- select which planner do you want; 
														     the domain is boolean: true  -> queue_path_planner
																					false -> path_planner
														      
														     -->									     
    
                                            
    <!-- OCTOMAP  -->
    <include file="$(find path_planner)/launch/octomap.launch">
		<arg name="respawn_value" value="$(arg respawn_value)" />
	</include>	  
												     
    <!-- NORMALS COMPUTATION  (input pcl coming from volumetric mapping) -->
    <include file="$(find path_planner)/launch/compute_normals.launch">
		<arg name="respawn_value" value="$(arg respawn_value)" />
	</include>	
	
    <!-- LAUNCH TRAVERSABILITY ANALYSIS  -->
    <include file="$(find path_planner)/launch/traversability_analysis.launch">
		<arg name="respawn_value" value="$(arg respawn_value)" />
	</include>	

    <!-- BLOCK FOR SELECTING THE PATH PLANNER TYPE -->
	<group unless="$(arg use_queue_path_planner)"> <!-- USE PATH PLANNER MANAGER -->
		<include file="$(find path_planner)/launch/path_planner_manager.launch">
			<arg name="respawn_value" value="$(arg respawn_value)" />
		</include>	
	</group>
    <group if="$(arg use_queue_path_planner)"> <!-- USE QUEUE(MULTI-WP) PATH PLANNER -->
		<include file="$(find path_planner)/launch/queue_path_planner.launch">
			<arg name="respawn_value" value="$(arg respawn_value)" />
		</include>	
		<include file="$(find path_planner)/launch/path_planner_manager.launch">
			<arg name="respawn_value" value="$(arg respawn_value)" />
			<arg name="use_marker_controller" value="false" /> <!-- do not use single-wp marker along with queue path planner -->
		</include>	
	</group>

    <!-- LAUNCH TRAJECTORY CONTROL  -->
	<include file="$(find trajectory_control)/launch/trajectory_control.launch">
		<arg name="respawn_value" value="$(arg respawn_value)" />
	</include>	
    
    <!-- LAUNCH LASER PROXIMITY CHECKER -->
	<include file="$(find laser_proximity_checker)/launch/laser_proximity_checker.launch">
		<arg name="respawn_value" value="$(arg respawn_value)" />
	</include>	

</launch>
