<launch>

	<arg name="respawn_value" default="false" /> <!-- boolean: true, false -->
	
	<arg name="use_queue_path_planner" value="false" /> <!-- select which planner do you want; 
														     the domain is boolean: true  -> queue_path_planner
																					false -> path_planner
														      
														     -->
        <!-- 
            NOTE: this launcher uses the "/mux_point_cloud" topic coming from the mapper as a pointcloud input to octomap 
        -->
        

	<!-- BLOCK FOR OCTOMAP_MUX WHICH TAKES AS INPUT /dynamic_point_cloud AND  /point_map and mux them in a single /mux_point_cloud TOPIC-->
    <node name="octomap_mux" pkg="octomap_mux" type="octomap_mux_node" respawn="false" output="screen">
	</node>         

	<!-- BLOCK FOR SELECTING HOW TOPIC /point_map ENTERS IN THE PATH PLANNER GRAPH -->
	<node name="mapping" pkg="octomap_server" type="octomap_server_node" respawn="false" output="screen">
		 <param name = "base_frame_id" value = "/base_link"/>
		 <param name = "resolution" value = "0.075"/>
		 <param name = "sensor_model/hit" value = "0.75"/>
		 <param name = "sensor_model/miss" value = "0.45" />
		 <param name = "sensor_model/min" value = "0.12" />
		 <param name = "sensor_model/max" value = "0.97" />

	     <!--remap from = "cloud_in" to = "/dynamic_point_cloud"/-->
		 <!--remap from = "cloud_in" to = "/point_map"/--> <!-- here the  /point_map enters -->
		 <remap from = "cloud_in" to = "/mux_point_cloud"/> <!-- here the  /mux_point_cloud enters -->
		 <remap from = "octomap_point_cloud_centers" to = "/dynjoinpcl_nn"/>
	</node> 
	
	<node name="compute_normals" pkg="path_planner" type="compute_normals" respawn="false" output="screen">
		 <rosparam file="$(find path_planner)/launch/path_planner_octomap.yaml" /> 
		 <remap from = "cloud_in" to = "/dynjoinpcl_nn"/>
		 <remap from = "cloud_out" to = "/dynjoinpcl"/>  
	</node> 

	<node name="traversability" pkg="path_planner" type="traversability" respawn="false" output="screen">
		<rosparam file="$(find path_planner)/launch/path_planner_octomap.yaml" /> 
	</node> 
	
	<!-- BLOCK FOR SELECTING THE PATH PLANNER TYPE -->
	<group if="$(arg use_queue_path_planner)">
		<node name="path_planner" pkg="path_planner" type="queue_path_planner" respawn="false" output="screen">
		</node> 
	</group>
	<group unless="$(arg use_queue_path_planner)">
		<node name="path_planner" pkg="path_planner" type="path_planner" respawn="false" output="screen">
		</node> 
	</group>
	
	<!-- LAUNCH TRAJECTORY CONTROL  -->
	<include file="$(find trajectory_control)/launch/trajectory_control.launch">
		<arg name="respawn_value" value="$(arg respawn_value)" />
	</include>	
	
</launch>
